version: '3.8'

networks:
  monitoring-net:
    driver: bridge

services:

  user-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: user-db
    environment:
      SA_PASSWORD: "StrongPass123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    volumes:
      - sqlserverdata_service1:/var/opt/mssql
    networks:
      - monitoring-net

  task-db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: task-db
    environment:
      SA_PASSWORD: "StrongPass123!"
      ACCEPT_EULA: "Y"
    ports:
      - "1435:1433"
    volumes:
      - sqlserverdata_service2:/var/opt/mssql
    networks:
      - monitoring-net

  student-task-tracker-metrics:
    build:
      context: .
      dockerfile: student-task-tracker-metrics/Dockerfile
    container_name: student-task-tracker-metrics
    ports:
      - "5001:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=user-db;Database=NewTaskTracker;User ID=sa;Password=StrongPass123!;TrustServerCertificate=True;
    depends_on:
      - user-db
    networks:
      - monitoring-net

  task-service:
    build:
      context: .
      dockerfile: task-service/Dockerfile
    container_name: task-service
    ports:
      - "5002:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=task-db;Database=TaskServiceDb;User ID=sa;Password=StrongPass123!;TrustServerCertificate=True;
    depends_on:
      - task-db
    networks:
      - monitoring-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - monitoring-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitoring-net

volumes:
  sqlserverdata_service1:
  sqlserverdata_service2: